[submodule "/libs/flash-nor"]
	path = /libs/flash-nor
	url = https://github.com/Pablo-Jean/Nor-Flash-Driver.git
[submodule "/libs/lcd"]
	path = /libs/lcd
	url = https://github.com/Pablo-Jean/lcd-display.git
